/node_modules
/backend/vendor
/backend/.env
/backend/public/build
/backend/public/storage
/backend/storage/*.key
/backend/storage/framework/cache/data/*
/backend/storage/framework/sessions/*
/backend/storage/framework/testing/*
/backend/storage/framework/views/*
/backend/storage/logs/*
/backend/.phpunit.result.cache

/ai-service/venv
/ai-service/.env
__pycache__/
*.pyc

/frontend_mobile/.dart_tool
/frontend_mobile/.flutter-plugins
/frontend_mobile/.flutter-plugins-dependencies
/frontend_mobile/.packages
/frontend_mobile/build
/frontend_mobile/.pub-cache
/frontend_mobile/.pub
/frontend_mobile/ios/Flutter/Generated.xcconfig
/frontend_mobile/ios/Flutter/flutter_export_environment.sh
/frontend_mobile/ios/ServiceDefinitions.json
/frontend_mobile/ios/Runner/GeneratedPluginRegistrant.h
/frontend_mobile/ios/Runner/GeneratedPluginRegistrant.m
/frontend_mobile/android/local.properties
/frontend_mobile/android/key.properties
/frontend_mobile/android/app/src/main/res/drawable-mdpi
/frontend_mobile/android/app/src/main/res/drawable-hdpi
/frontend_mobile/android/app/src/main/res/drawable-xhdpi
/frontend_mobile/android/app/src/main/res/drawable-xxhdpi
/frontend_mobile/android/app/src/main/res/drawable-xxxhdpi

.DS_Store
.idea
.vscode
